html, 
body {
    height: 100%;
	width: 100%;
	
	margin: 0px;
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

    -ms-touch-action: pan-y;
    touch-action: pan-y;

    -webkit-tap-highlight-color: transparent;

    font-family: 'Open Sans', sans-serif !important;
    font-size: 14px;
}

.Indabo-Frame-Top {
    width: 100%;
    height: 35px;

    background-color: #3C3C3C;
}

.Indabo-Frame-Top-Main {
    position: absolute;

    width: calc(100% - 32px);
    height: 32px;

    border-top: 3px solid #41A85F;
}

.Indabo-Frame-Top-Main-Text {
    position: absolute;

    bottom: 2px;
    right: 7px;

    vertical-align: text-bottom;

    font-size: 13px;

    color: #BD8D00;
}

.Indabo-Frame-Top-Logo {
    width: 32px;
    height: 32px;

    float: right;

    border-left: 3px solid #41A85F;
    border-bottom: 3px solid #41A85F;

    background-repeat: no-repeat;
    background-position: center;
    background-size: 80% auto;
    background-image: url("Icon/Indabo.png");
}

.Indabo-Frame-Menu {
    position: relative;

    width: 45px;
    height: calc(100% - 35px - 20px);

    background-color: #333333;

    overflow-x: hidden;
    overflow-y: scroll;

    -ms-overflow-style: none;  
    scrollbar-width: none; 
}

.Indabo-Frame-Menu::-webkit-scrollbar {
    display: none;
}

.Indabo-Frame-Menu-Entry {
    width: 45px;
    height: 45px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: 60% auto;
    background-image: url("Icon/Indabo.png");

    cursor: pointer;
}

.Indabo-Frame-Menu-Entry:hover {
    background-color: #666666;
}

.Indabo-Frame-Menu-Entry-Selected {
    background-color: #BD8D00 !important;
}

.Indabo-Frame-Menu-Entry-ScrollButton {
    display: none;

    position: fixed;
    position: sticky;

    left: 0px;

    width: 45px;
    height: 20px;

    background-color: #424242;

    background-repeat: no-repeat;
    background-position: center;
    background-size: 60% auto;

    cursor: pointer;
}

.Indabo-Frame-Menu-Entry-ScrollButton:hover {
    background-color: #666666;
}

.Indabo-Frame-Menu-Entry-ScrollButton-Disabled {
    cursor: default;

    background-color: #333333 !important;

    background-image: none !important;
}

.Indabo-Frame-Menu-Entry-ScrollButton-Up {
    top: 0px;

    background-image: url("Icon/ScrollUp.svg");
}

.Indabo-Frame-Menu-Entry-ScrollButton-Down {
    bottom: 0px;

    background-image: url("Icon/ScrollDown.svg");
}

.Indabo-Frame-Content {
    width: calc(100% - 45px);
    height: calc(100% - 35px - 20px);
    float: right;
    overflow: auto;
}

.Indabo-Frame-Content:empty {
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto auto;

    background-image: url("Icon/Indabo.png");
}

.Indabo-Frame-Bottom {
    width: 100%;
    height: 20px;

    background-color: #00695c;
}

.Indabo-Frame-Bottom-Icon {
    width: 21px;
    height: 100%;

    float: left;

    margin-left: 2px;
    margin-right: 2px;

    padding-left: 2px;
    padding-right: 2px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 75%;
    background-image: url("Icon/Indabo.png");

    cursor: pointer;
}

.Indabo-Frame-Bottom-Icon:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

.Indabo-Frame-Bottom-Status {
    background-image: url("Icon/Disconnected.svg");
}

.Indabo-Frame-Bottom-Status-Connected {
    background-image: url("Icon/Connected.svg");
}

.Indabo-Frame-Bottom-Logging {
    width: auto;
    height: auto;

    margin-right: 5px;

    padding-top: 3px;

    float: left;

    color: white;

    font-size: 11px;
}

.Indabo-Frame-Bottom-Version-Label {
    width: auto;
    height: auto;

    margin-left: 2px;
    margin-right: 5px;

    padding-top: 3px;

    float: right;

    color: white;

    font-size: 11px;
}

.Indabo-Frame-Bottom-Version {
    width: auto;
    height: auto;

    margin-left: 0px;
    margin-right: 10px;

    padding-top: 3px;

    float: right;

    color: white;

    font-size: 11px;
}

.Indabo-Frame-Bottom-Feedback {
    float: right;

    background-image: url("Icon/Feedback.svg");
}

.Indabo-Frame-Bottom-Help {
    margin-right: 7px;

    float: right;

    background-image: url("Icon/Help.svg");
}