name: .NET Core

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.301
    - name: Install dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --configuration Release --no-restore Indabo.Linux/Indabo.Linux.csproj
    - name: Commit changes
      run: |
          git config --global user.name 'System'
          git config --global user.email 'System@github.com'
          git remote set-url origin https://x-access-token:${{ secrets.GIT_TOKEN }}@github.com/$GITHUB_REPOSITORY          
          git fetch
          INDABOVERSION=$(sed -n 's:.*<AssemblyVersion>\(.*\)</AssemblyVersion>.*:\1:p' ./Indabo.Linux/Indabo.Linux.csproj)
          DATE=$(date '+%Y-%m-%d_%H.%M.%S')
          git checkout Releases   		  
          cp -rf ./Indabo.Linux/bin/Release/netcoreapp3.1/Indabo.dll Indabo_${INDABOVERSION}_${DATE}.dll
          cp -rf ./Indabo.Linux/bin/Release/netcoreapp3.1/Indabo.dll Indabo.dll
          git add Indabo_${INDABOVERSION}_${DATE}.dll
          git add Indabo.dll
          git commit -am "${INDABOVERSION}_${DATE}"
          git push