name: .NET Core

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: windows-latest 

    steps:
    - uses: actions/checkout@v2
    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v1.0.1
    - name: Restore Project (Nuget)
      run: msbuild -t:restore
    - name: Build
      run: msbuild Indabo.sln /p:Configuration=Release
